/* レスポンシブ対応 */
@media screen and (max-width: 900px) {
  body {
    margin: 4vw;
    font-size: 3vw;
    max-width: 900px;
  }
}

@media screen and (min-width: 901px) {
  body {
    margin: 2vh;
    font-size: 1.8vh;
    max-width: 54vh;
  }
}

.basic-text {
  background-color: black;
  font-family: "Shippori Mincho B1", serif;
  color: azure;
}

/* 基本のレイアウト */
main > div {
  width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 2%;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 2.2em;
  font-size: 2em;
  border: 0px;
}

input:focus {
  outline: 0;
}

#output_answer {
  font-size: 4em;
  min-height: 8rem;
}

/* push button */
#button_table {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  font-size: 4em;
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_row > div {
  width: 1.78em;
  margin: 0.1em;
  border-radius: 10%;
  box-shadow: 6px -6px teal;
}

.button_row > div:active {
  box-shadow: 3px -3px teal;
  position: relative;
  top: -3px;
  left: 3px;
}

.button_row > .null_button {
  box-shadow: 0 0 azure;
}

/* footer */
footer {
  text-align: right;
  margin-top: 1em;
}

/* select-language */
#select-language select {
  box-shadow: 3px -3px teal;
  border: 0px;
}
