main > div {
  width: 100%;
  overflow-wrap: break-word;
  /* background-color: aqua; */
}

input {
  width: 100%;
  box-sizing: border-box;
}

.error {
  background-color: orangered;
}

/* footer */
/* select-language */
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}
